/* Add your styles here */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

.app-header {
    
    color: white; 
}

.app-body {
    display: flex;
    flex: 1;
}

.app-body-main-content {
    flex: 1;
    padding: 20px;
}

.employee-section {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.flat-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.logo-title{
    text-align: center;
}